@import "../../styles/variables.scss";

.inputContainer {
  width: 100%;
  position: relative;

  @media (min-width: 800px) {
    width: 600px;
  }
}

.input {
  padding: 16px 24px;
  width: 100%;
  font-size: 1.2rem;
  outline: none;
  border: none;
  position: relative;

  @media (min-width: 800px) {
    width: 600px;
    font-size: 1.6rem;
  }
}

.iconContainer {
  position: absolute;
  bottom: 50%;
  transform: translateY(50%);
  right: 20px;
}
