$white: #ffffff;
$black: #000000;
$neutral-100: #e6e6e6;
$neutral-200: #bbbbbb;
$neutral-300: #707070;
$neutral-400: #666666;
$neutral-500: #505050;
$neutral-600: #262626;
$dark-yellow: #ff8000;
$light-yellow: #ffb800;
